@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900);
html, body {
  height: 100%;
}

body {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

p {
  text-align: justify;
  font-family: Source Sans Pro, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: pre-wrap;
  padding: 40px;
  font-size: calc(16px + 1vw);
  mix-blend-mode: difference;
}

.a-filter {
  color: cyan;
}

.b-filter {
  color: red;
}

.glasses {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.lens {
  position: absolute;
  top: 0;
  width: 400px;
  height: 400px;
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
  background: currentColor;
  mix-blend-mode: difference;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.lens.a-filter {
  top: 400px;
  left: 400px;
}
.lens:active {
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
